<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.andronicus.med_manager">

    <application
        android:name=".MedManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_med_manager_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_med_manager_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".signin.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
        <activity
            android:name=".medication.MedicationActivity"
            android:label="@string/title_activity_medication"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".addmedication.AddMedicationActivity"
            android:label="@string/title_activity_add_medication"
            android:parentActivityName=".medication.MedicationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".medication.MedicationActivity"
                />
        </activity>
        <activity
            android:name=".medication.MedicationPopupActivity"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".editmedication.EditMedicationActivity"
            android:label="@string/title_activity_edit_medication"
            android:parentActivityName=".medication.MedicationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".medication.MedicationActivity"
                />
        </activity>
        <activity
            android:name=".editprofile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".medication.MedicationActivity"/>
    </application>

</manifest>